body{
    background-image: url('https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bW92aWVzfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    background-color: #d5d8dd;
    background-position: center;
}
h1{
    background: linear-gradient(to right, #933017, #bf1100, #37302a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 65px;
    font-family: 'Lato', sans-serif;
    font-style: bold;
}
#container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#inputSearch{
    display: flex;
}
#search{
    flex: 1;
    border: none;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #37302a;
}
#header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(239, 239, 240, 0.6);
    margin: 20px;
}
#movies{
    margin: 10px;
    padding: 20px;
    
}
span{
    display: block;
}
a{
    text-decoration: none;
    color: #7e2013;
}
.par{
    text-align: center;
    background-color: #fbf8f1;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}
.one{
    color: #37302a;
    font-size: 13px;
}
.two{
    font-size: 20px;
    color: #7e2013;
    font-weight: bold;
}
img{
    border: 2px solid #fbf8f1;
}
